{% extends 'base.html' %}

{% block body %}



    <!--主体-->
<div class="container" >
    <div class="row">
         <div class="col-sm-12 ">
             <div class="row placeholders">
                    <div class="col-xs-3  placeholder">
                      <a href="/oa"><img src="/static/img/1.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                      <h4>OA</h4>
                      <span class="text-muted">内部办公系统</span>
                    </div>

                    <div class="col-xs-3 placeholder">
                      <a href="/cmdb"><img src="/static/img/2.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                      <h4>CMDB</h4>
                      <span class="text-muted">资产管理系统</span>
                    </div>

                    <div class="col-xs-3 placeholder">
                     <a href="/host"><img src="/static/img/8.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                        <h4>HOST</h4>
                        <span class="text-muted">主机管理</span>
                    </div>

                    <div class="col-xs-3 placeholder">
                      <a href="#"><img src="/static/img/3.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                      <h4>ZABBIX</h4>
                      <span class="text-muted">监控系统</span>

                    </div>
                  </div>
         </div>
         <div class="col-sm-12 ">
             <div class="row placeholders">
                    <div class="col-xs-3  placeholder">
                      <a href="/oa"><img src="/static/img/5.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                      <h4>SALTSTRACK</h4>
                      <span class="text-muted">批量管理</span>
                    </div>

                    <div class="col-xs-3 placeholder">
                      <a href="/cmdb"><img src="/static/img/6.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                      <h4>EVENT</h4>
                      <span class="text-muted">事件管理</span>
                    </div>

                    <div class="col-xs-3 placeholder">
                     <a href="/host"><img src="/static/img/7.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                        <h4>EVENT</h4>
                      <span class="text-muted">事件管理</span>
                    </div>

                    <div class="col-xs-3 placeholder">
                      <a href="#"><img src="/static/img/8.jpg" class="img-responsive" style="width: 150px;height: 150px;" alt=""></a>
                      <h4>ADMIN</h4>
                      <span class="text-muted">后台管理</span>

                    </div>
                  </div>
         </div>
    </div>
</div>

            <!--页脚-->
<footer class="footer">
    <div class="container" >
        <div class="row">
            <div class="col-md-12">
                <p>
                    Copyright&nbsp;©&nbsp;2012-2015&nbsp;&nbsp;www.maiziedu.com&nbsp;&nbsp;蜀ICP备13014270号-4 &nbsp;
                </p>
            </div>
        </div>
    </div>
</footer>


{% endblock %}