








{% extends 'public/header_footer.html' %}



{% block title %}
        <title>Uminton 管理系统</title>
{% endblock %}


{% block css %}
        <link href="/static/index/css/host.css" rel="stylesheet">
         <style>
        .box_style{
             border-width: 1px;
             border-left-color: rgb(231, 234, 236);
             border-left-style: solid;
             border-right-style: solid;
             border-right-color: rgb(231, 234, 236);
             border-bottom-style: solid;
             border-bottom-color: rgb(231, 234, 236);
             width:100%
        }
      </style>
{% endblock %}



{% block main %}

    <!--右侧主窗口-->
<div class="row J_mainContent wrapper wrapper-content animated fadeInRight" id="content-main">

    <div class="row">
       <div class="col-sm-12">
           <div class="ibox ">
               <div class="ibox-title"><h5>版本更新</h5></div>
               <div class="ibox-content" style="height: 1200px">
                   <!--可操作选项-->
                   <div class="row col-md-6">
                       <div class="col-sm-12">

                            <div class="ibox box_style">
                                <div class="ibox-title">操作</div>
                                <div class="ibox-content">

                                    <form action="/host/excuteScript" method="post">
                                        <div class="form-group">
                                            <label for="version">版本名称:</label>
                                             <select name="version" class="form-control" onchange="show_sub(this.options[this.options.selectedIndex].value)">
                                                <option value="0" {% ifequal version 0 %} selected="selected" {% endifequal %}>1.6版本</option>
                                                <option value="1" {% ifequal version 1 %} selected="selected" {% endifequal %}>1.7版本</option>
                                                <option value="2" {% ifequal version 2 %} selected="selected" {% endifequal %} >1.8版本</option>
                                              </select>
                                       </div>

                                        <div class="form-group">
                                            <label for="ip">主机IP:</label>
                                              <select multiple="multiple" name="ip"  class="form-control">
                                                {% for foo in host %}
                                                  <option value="{{ foo.ip }}">{{ foo.ip }}</option>
                                                {% endfor %}
                                              </select>
{#                                                {% for foo in host %}#}
{#                                                    <input type="checkbox" name="ip" value="{{ foo.ip }}">{{ foo.ip }}#}
{##}
{#                                                {% endfor %}#}

                                        </div>

                                         <div class="form-group">
                                            <label for="execute">作业名称:</label>
                                            <select name="execute"  class="form-control">
                                                <option value="0">--请选择</option>
                                                <option value="1">更新</option>
                                                <option value="2">偏移时间</option>
                                                <option value="3">重启(处理时间较长，请耐心等候)</option>
                                                <option value="4">重读</option>
                                                <option value="5">热更</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                                <button type="button"  onclick="aa()" class="btn btn-primary  center-block" >执行</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                       </div>

                        <div class="col-sm-12" style="margin-top: 70px">
                                <div class="ibox  box_style" >
                                     <div class="ibox-title">最新状态</div>
                                     <div class="ibox-content" >

                                     </div>
                                </div>
                        </div>
                   </div>
                   <!--操作记录-->

                   <div class="col-md-6">
                        <div class="ibox box_style">
                               <div class="ibox-title">操作记录</div>
                               <div class="ibox-content">
                                   {% for history in re %}

                                         <div class="timeline-item">
                                            <div class="row">
                                                <div class="col-xs-3 date">
                                                    <i class="fa fa-file-text"></i>
                                                    <br>
                                                    <small class="text-navy">{{ history.name }}</small>
                                                </div>
                                                <div class="col-xs-10 content">
                                                    <p class="m-b-xs" style="padding-top: 20px"><strong>{{ history.name }}进行了<b style="color: red">“{{ history.action }}”</b>操作</strong>
                                                    </p>
                                                    <p style="padding-top: 10px">{{ history.date|date:"Y-m-d H:i:s" }}</p>
                                                </div>
                                            </div>
                                        </div>

                                  {% endfor %}
                               </div>
                        </div>

                   </div>
               </div>
           </div>
       </div>
    </div>

    <!--摸态框-->
    <div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">操作结果</h4>
          </div>
          <div class="modal-body" id="test">
            你的请求正在处理中！！！！！
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="bb()">确认</button>
          </div>
        </div>
      </div>
    </div>

</div>
{% endblock  %}



{% block js %}
<script type="text/javascript">
    function show_sub(version){
          window.location.href='/host/excuteScript?version='+version;
    }

    function aa() {
         var data = $('form').serialize();

         $.ajax({
                url:'/host/change',
                type:'POST',
                data:data,
                success:function(data){
                    if(data.length==0){
                        $("#test").text('处理失败！！请重试！');
                        $("#requestModal").modal("show");
                    }else{
                        $("#test").text('请求处理成功！！！');
                        $("#requestModal").modal("show");
                    }
                }
          })
    }
    function bb() {
        window.location.href='/host/excuteScript';
    }

</script>
{% endblock %}





























