








{% extends 'public/header_footer.html' %}



{% block title %}
        <title>Uminton 管理系统</title>
{% endblock %}


{% block css %}
        <link href="/static/index/css/host.css" rel="stylesheet">

{% endblock %}



{% block main %}


    <!--右侧主窗口-->
    <div class="row J_mainContent wrapper wrapper-content animated fadeInRight" id="content-main">
             <div class="row">
           <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>操作历史</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="graph_flot.html#">选项1</a>
                                    </li>
                                    <li><a href="graph_flot.html#">选项2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="height: 1000px">

                               {% for history in re %}

                                     <div class="timeline-item">
                                        <div class="row">
                                            <div class="col-xs-3 date">
                                                <i class="fa fa-file-text"></i>
                                                <br>
                                                <small class="text-navy">{{ history.name }}</small>
                                            </div>
                                            <div class="col-xs-10 content">
                                                <p class="m-b-xs" style="padding-top: 20px"><strong>{{ history.name }}进行了<b style="color: red">“{{ history.action }}”</b>操作</strong>
                                                </p>
                                                <p style="padding-top: 10px">{{ history.date|date:"Y-m-d H:i:s" }}</p>
                                            </div>
                                        </div>
                                    </div>
                              {% endfor %}

                        </div>
                    </div>
                </div>

            </div>

    </div>



{% endblock  %}

































