








{% extends 'public/header_footer.html' %}



{% block title %}
        <title>Uminton 管理系统</title>
{% endblock %}


{% block css %}
        <link href="/static/index/css/host.css" rel="stylesheet">

{% endblock %}



{% block main %}


    <!--右侧主窗口-->
    <div class="row J_mainContent wrapper wrapper-content animated fadeInRight" id="content-main">
             <div class="row">
           <div class="col-sm-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>日志管理</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="graph_flot.html#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="graph_flot.html#">选项1</a>
                                    </li>
                                    <li><a href="graph_flot.html#">选项2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <table class="table table-bordered table-hover table-responsive">
                                  <tr>
                                       <td colspan="4">
                                           <button class="btn btn-warning" data-toggle="modal" data-target="#addServer">日志列表</button>
                                       </td>
                                   </tr>
                                  <tr >
                                    <th>IP地址</th>
                                    <th>分组</th>
                                    <th>日志名称</th>
                                    <th>操作</th>
                                  </tr>
                                  <tr>
                                      <td>
                                       192.168.453.44
                                      </td>
                                      <td>
                                         relaygateway_1.warn.log.2017-08-09-00
                                      </td>
                                      <td>
                                        relaygateway_1.warn.log.2017-08-09-00
                                      </td>
                                      <td>
                                          <button type="button"  onclick="del({{ host.id }})" class="btn btn-warning btn-sm " ><a href="">下载</a></button>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                         192.168.453.44
                                      </td>
                                      <td>
                                         relaygateway_1.warn.log.2017-08-09-00
                                      </td>
                                      <td>
                                        relaygateway_1.warn.log.2017-08-09-00
                                      </td>
                                      <td>
                                          <button type="button"  onclick="del({{ host.id }})" class="btn btn-warning btn-sm " ><a href="">下载</a></button>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                         192.168.453.44
                                      </td>
                                      <td>
                                         relaygateway_1.warn.log.2017-08-09-00
                                      </td>
                                      <td>
                                        relaygateway_1.warn.log.2017-08-09-00
                                      </td>
                                      <td>
                                          <button type="button"  onclick="del({{ host.id }})" class="btn btn-warning btn-sm " >
                                              <a href="">下载</a></button>
                                      </td>
                                  </tr>
                            </table>
                        </div>
                    </div>
                </div>
           </div>

    </div>



{% endblock  %}

































