
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    {% block title %}
        <title>Uminton 管理系统</title>
    {% endblock %}

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->


    <link href="/static/index/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="/static/index/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/static/index/css/style.min.css?v=4.0.0" rel="stylesheet">
</head>
<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">

{% block body %}



{% endblock  %}


</body>

</html>

    <script src="/static/index/js/jquery.min.js?v=2.1.4"></script>
    <script src="/static/index/js/bootstrap.min.js?v=3.3.5"></script>
    <script src="/static/index/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/index/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/index/js/plugins/layer/layer.min.js"></script>
    <script src="/static/index/js/hplus.min.js?v=4.0.0"></script>
    <script src="/static/index/js/contabs.min.js" type="text/javascript"></script>
    <script src="/static/index/js/plugins/pace/pace.min.js"></script>